* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    padding: 20px 10px;
    background-color: lightskyblue;
}

nav a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
    font-weight: 700;
}

nav a.active {
    text-decoration: underline blue;
}

.task-row {
    display: flex;
    gap: 20px;
}

.task-row .name {
    flex-basis: 20%;
}

.task-row.red{
    background-color: red;
}

.task-row.yellow{
    background-color: yellow;
}

.task-row.green{
    background-color: green;
}