*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    padding: 20px 10px;
    background-color: lightskyblue;
}

nav a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
    font-weight: 700;
}

nav a.active{
    text-decoration: underline blue;
}